Assignment1Console/Connected Services/ServiceReferenceWCF/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:36295/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:36295/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:36295/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_PrimeNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:PrimeNumber" />
  </wsdl:message>
  <wsdl:message name="IService_PrimeNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrimeNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SumOfDigits_InputMessage">
    <wsdl:part name="parameters" element="tns:SumOfDigits" />
  </wsdl:message>
  <wsdl:message name="IService_SumOfDigits_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumOfDigitsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReverseString_InputMessage">
    <wsdl:part name="parameters" element="tns:ReverseString" />
  </wsdl:message>
  <wsdl:message name="IService_ReverseString_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReverseStringResponse" />
  </wsdl:message>
  <wsdl:message name="IService_PrintHtmlTags_InputMessage">
    <wsdl:part name="parameters" element="tns:PrintHtmlTags" />
  </wsdl:message>
  <wsdl:message name="IService_PrintHtmlTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrintHtmlTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SortNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:SortNumbers" />
  </wsdl:message>
  <wsdl:message name="IService_SortNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SortNumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="PrimeNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/PrimeNumber" message="tns:IService_PrimeNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PrimeNumberResponse" message="tns:IService_PrimeNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SumOfDigits">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SumOfDigits" message="tns:IService_SumOfDigits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SumOfDigitsResponse" message="tns:IService_SumOfDigits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReverseString" message="tns:IService_ReverseString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReverseStringResponse" message="tns:IService_ReverseString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrintHtmlTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/PrintHtmlTags" message="tns:IService_PrintHtmlTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PrintHtmlTagsResponse" message="tns:IService_PrintHtmlTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SortNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SortNumbers" message="tns:IService_SortNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SortNumbersResponse" message="tns:IService_SortNumbers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PrimeNumber">
      <soap:operation soapAction="http://tempuri.org/IService/PrimeNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumOfDigits">
      <soap:operation soapAction="http://tempuri.org/IService/SumOfDigits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <soap:operation soapAction="http://tempuri.org/IService/ReverseString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintHtmlTags">
      <soap:operation soapAction="http://tempuri.org/IService/PrintHtmlTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SortNumbers">
      <soap:operation soapAction="http://tempuri.org/IService/SortNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:36295/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>